@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-text: #2e2e2e;
  --color-background: #faf7f0;
  --main-purple: #977dff;
  --btn-hover-purple: #7e61f1;
  --btn-red: #f04f43;
  --btn-red-hover: #d03c32;
  --btn-edit-hover: rgb(189, 181, 62);
  --thead-tr: #a089fb;
  --tbody-tr-hover: #a28df4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background: linear-gradient(
    to right,
    var(--main-purple),
    var(--color-background)
  );
  margin: 50px 30px 0;
}
.mb-3 {
  font-weight: 600;
  color: var(--color-text);
}
.container {
  margin-top: 30px;
  background: var(--color-background);
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3);
  padding: 25px;
  border-radius: 10px;
  max-width: 1500px;
}

.container table {
  width: 100%;
  border-color: var(--main-purple);
}

.container table thead {
  vertical-align: middle;
  border-bottom-color: var(--color-background);
}

.container table thead th {
  border-right-color: var(--color-background);
}

.container table thead th:first-child {
  border-left-color: var(--main-purple);
}

.container table thead th:last-child {
  border-right-color: var(--main-purple);
}

#shopTable {
  width: 100%;
  table-layout: fixed;
}

#shopTable th,
#shopTable td {
  padding: 8px 12px;
  vertical-align: middle;
}

#shopTable th:first-child,
#shopTable th:last-child {
  padding-left: 60px;
}

#shopTable td:first-child {
  text-align: center;
}

table thead tr th,
table tbody tr td {
  text-align: left !important;
}

table tbody tr {
  cursor: pointer;
}

table tbody tr:nth-child(even) {
  background: var(--color-background) !important;
}

table tbody tr:hover {
  background: var(--tbody-tr-hover) !important;
  color: var(--color-background) !important;
}

table tbody tr:hover td:not(:last-child) {
  border-right-color: var(--color-background);
}

table tbody tr td {
  vertical-align: middle;
}

table tbody tr td:first-child {
  font-weight: 600;
  text-align: center !important;
}

table thead tr {
  background: var(--thead-tr);
  color: var(--color-background);
}

#sortMenuButton {
  padding: 8px 24px;
  border-color: var(--main-purple);
  background-color: var(--color-background);
}

.input-group {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
  max-width: 100%;
}

#searchInput {
  flex: 1;
  min-width: px;
  border: 1px solid var(--main-purple);
  transition: all 0.2s ease;
  border-radius: 6px !important;
}

#searchInput:hover,
#searchInput:focus {
  border-color: var(--btn-hover-purple);
  box-shadow: 0 0 5px rgba(151, 125, 255, 0.8);
}

.sort-btn,
.add-btn {
  min-width: 100px;
  border-radius: 6px !important;
  padding: 8px 24px;
  background-color: var(--color-background);
  color: var(--color-text);
  border: 1px solid var(--main-purple);
}

.btn.sort-btn.dropdown-toggle:hover,
.btn.sort-btn.dropdown-toggle:focus {
  background-color: var(--btn-hover-purple) !important;
  color: var(--color-background) !important;
  box-shadow: 0 0 5px rgba(151, 125, 255, 0.4);
}
.sort-btn,
.add-btn {
  flex: none;
  width: 160px;
}

.btn.add-btn {
  background-color: var(--main-purple);
  color: var(--color-background);
  border: 1px solid var(--main-purple);
  border-radius: 6px;
  transition: all 0.2s ease;
  box-shadow: none;
  outline: none;
}

/* hover */
.btn.add-btn:hover {
  background-color: var(--btn-hover-purple);
  box-shadow: 0 0 5px rgba(151, 125, 255, 0.4);
}

/* focus */
.btn.add-btn:focus-visible {
  outline: none;
  box-shadow: 0 0 5px rgba(151, 125, 255, 0.6);
}

/* active */
.btn.add-btn:active {
  background-color: var(--btn-hover-purple);
  box-shadow: 0 0 5px rgba(151, 125, 255, 0.4);
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.container table tbody tr:last-child {
  border-bottom-color: var(--color-background);
}

.edit-btn {
  padding: 6px 24px;
  margin-right: 12px;
  background-color: var(--color-background);
  color: var(--color-text);
  border: 1px solid var(--main-purple);
  transition: background-color 0.2s ease;
}

.edit-btn:hover,
.edit-btn:focus {
  background-color: var(--btn-edit-hover);
  padding: 6px 24px;
  border: 1px solid var(--btn-edit-hover);
  outline: none !important;
}

.delete-btn {
  background-color: var(--color-background);
  padding: 6px 16px;
  color: var(--btn-red);
  border: 1px solid var(--btn-red);
  box-shadow: none;
}

.delete-btn:hover {
  background-color: var(--btn-red-hover);
}

.edit-btn:focus,
.delete-btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.action-btn i {
  pointer-events: none;
}

#shopTable {
  width: 100%;
  table-layout: fixed;
  margin: 24px 0;
}

#shopTable th,
#shopTable td {
  vertical-align: middle;
}

.dropdown-menu .dropdown-item.active,
.dropdown-menu .dropdown-item:active {
  background-color: var(--main-purple) !important;
  color: var(--color-background) !important;
}

/* modal form */
.modal-header {
  background: var(--main-purple);
  color: var(--color-background);
}

.cross {
  color: var(--color-background);
  border: none;
  outline: none;
  font-size: 25px;
  background: transparent;
}

.modal span {
  color: var(--btn-red);
  font-size: 18px;
}

.submitBtn {
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 15px;
  border-radius: 5px;
  background: var(--main-purple);
  color: var(--color-background);
  font-weight: 600;
}

.submitBtn:hover {
  background-color: var(--btn-hover-purple);
  box-shadow: 0 0 5px rgba(151, 125, 255, 0.4);
}

.submitBtn:focus-visible {
  outline: none;
  box-shadow: 0 0 5px rgba(151, 125, 255, 0.6);
}

.submitBtn:active {
  background-color: var(--btn-hover-purple);
  box-shadow: 0 0 5px rgba(151, 125, 255, 0.4);
}
